<h1><%= @subject %></h1>
<p><%= "#{@collaborator.first_name} #{@collaborator.last_name}" %></p>
<p>
  This suvey is to measure our satisfaction within our work team of the account/project in which we find ourselves, 
  for us it is important to know how you feel and put togethe4r actions together with their operations leaders.
</p>
<%= link_to @survey_url, @survey_url %>
<p>Best regards.</p>
